@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Reppública Dominicana<br />
    Santo Domingo Este, Respaldo 3<br />
    <abbr title="Teléfono">T:</abbr>
    (809)-384-0182 
    <abbr title="Extensión">Ext:</abbr>
    223
</address>

<address>
    <strong>Ayuda:</strong> <a href="mailto:Support@example.com">Help@webs.nidura.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@webs.nidura.com</a>
</address>
